language: node_js
node_js:
  - "8.9.1"
env:
  - JWT_SECRET=test
services:
  - mongodb
cache:
  directories:
  - node_modules
branches:
  only:
  - master
  - develop
git:
  depth: 3
script:
  - yarn test:check-coverage
after_script:
  - yarn report-coverage
