language: node_js
node_js:
  - "8.9.1"
env:
  global:
    - JWT_SECRET=test
    - MONGO_HOST=mongodb://localhost/coin-trend-api-travis
    - MONGO_PORT=27017
services:
  - mongodb
cache:
  directories:
  - node_modules
branches:
  only:
  - master
  - develop
git:
  depth: 3
script:
  - yarn test:check-coverage
after_script:
  - yarn report-coverage
notifications:
  email: false
